@import url("https://fonts.googleapis.com/css?family=Black+Ops+One: 400 | Raleway: 400, 400italic");

body {
    font-family: Arial, sans-serif;
    background-color: #DEFFC5;
}

.container {
    max-width: 350px;
    margin: 3% auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    max-height: auto;
}

.logo {
    max-width: 100%;
    /*height: auto;*/
    height: 84px;
    left: 300px;
    object-fit: cover;
    /*position: absolute;*/
    top: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    /* line-height: 80px; */
    text-align: center;
    color: #000000;
    margin: 0px;
}

h6 {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    /* line-height: 35px; */
    text-align: center;
    letter-spacing: -0.6px;
    margin: 0px
}

.social-login {
    margin-top: 20px;
    text-align: center;
}

.social-login {
    margin-top: 1rem;
    text-align: center;
}

.social-login p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-login a {
    font-family: 'benne';
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.social-login img {
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
    /*height: 48px;
    left: 74px;
    position: absolute;
    top: 7px;
    width: 65px;*/
}

input[type="email"] {
    /*text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #1d7f16ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;*/

    font-family: 'source sans pro';
    font-size: 18px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="email"]::placeholder {
    text-align: center;
    color: Black;
}

input:focus::placeholder {
  color: transparent;
}


button[type="submit"] {
    font-family: 'concert one';
    font-size: 18px;
    color: #fff;
    background-color: #1d7f16ea;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

/*.submit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1d7f16ea;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

/*.submit:hover {
    background-color: #1d7f16ea;
}*/

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #000;
    /* Changed text color to black */
    margin-top: 10px;
}

label {
    margin-left: 5px;
    color: #000000;
    cursor: pointer;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    color: #1d7f16ea;
    text-decoration: none;
}