<!DOCTYPE html>
<html>
    

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/logo.png">
        <title>Dashboard</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/line-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/plugins/morris/morris.css">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/line-awesome.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/morris/morris.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		
    </head>
    <body>
		
        <div class="main-wrapper">
            <div class="header">
                <div class="header-left">
                    <a href="/dashboard" class="logo">
						<img src="static/img/logo.png" width="40" height="40" alt="">
					</a>
                </div>
				<a id="toggle_btn" href="javascript:void(0);"><i class="la la-bars"></i></a>
                <div class="page-title-box pull-left">
					<h3>KIDSTER</h3>
                </div>
				<a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
				<ul class="nav navbar-nav navbar-right user-menu pull-right">
					<li class="dropdown hidden-xs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge bg-purple pull-right">3</span></a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span>Notifications</span>
							</div>
							<div class="drop-scroll">
								<ul class="media-list">
									<li class="media notification-message">
										<a href="/notifications">
											<div class="media-left">
												<span class="avatar">
													<img alt="John Doe" src="static/img/user.jpg" class="img-responsive img-circle">
												</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="m-0"><span class="notification-time">4 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="/notifications">
											<div class="media-left">
												<span class="avatar">V</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="m-0"><span class="notification-time">6 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="/notifications">
											<div class="media-left">
												<span class="avatar">L</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="m-0"><span class="notification-time">8 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="/notifications">
											<div class="media-left">
												<span class="avatar">G</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="m-0"><span class="notification-time">12 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="/notifications">
											<div class="media-left">
												<span class="avatar">V</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="m-0"><span class="notification-time">2 days ago</span></p>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="/notifications">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- <li class="dropdown hidden-xs">
						<a href="javascript:;" id="open_msg_box" class="hasnotifications"><i class="fa fa-comment-o"></i> <span class="badge bg-purple pull-right">8</span></a>
					</li>	 -->
					<li class="dropdown">
						<a href="/profile" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin">
							<span class="user-img"><img class="img-circle" src="static/img/user.jpg" width="40" alt="Admin">
							<span class="status online"></span></span>
							<span>Admin</span>
							<i class="caret"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/profile">My Profile</a></li>
							<li><a href="/editprofile">Edit Profile</a></li>
							<li><a href="/login">Logout</a></li>
						</ul>
					</li>
				</ul>
				<div class="dropdown mobile-user-menu pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="/profile">My Profile</a></li>
						<li><a href="/editprofile">Edit Profile</a></li>
						<li><a href="/login">Logout</a></li>
					</ul>
				</div>
            </div>
            <div class="sidebar" id="sidebar">
				<div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="active"> 
								<a href="/dashboard"><i class="la la-dashboard"></i> <span>Dashboard</span></a>
							</li>
							<li> 
								<a href="/browsing_sites"><i class="la la-users"></i> <span>Browsing Sites</span></a>
							</li>

							<li> 
								<a href="/intrests"><i class="la la-heart-o"></i><span>Intrests</span></a>
							</li>

							<li> 
								<a href="/top_genres"><i class="la la-rocket"></i> <span>Top Genres</span></a>
							</li>
							
							<!-- <li class="submenu"> -->
							<li>
								<a href="/subscription"><i class="la la-money"></i> <span> Subscription </span> </a>
							</li>
							<li> 
								<a href="/screen_time"><i class="la la-clock-o"></i> <span>Screen Time</span></a>
							</li>
							<li> 
								<a href="/tickets"><i class="la la-ticket"></i> <span>consultations</span></a>
							</li>
							<li> 
								<a href="/events"><i class="la la-calendar"></i> <span>Events</span></a>
							</li>
							<li> 
								<a href="/chat"><i class="la la-comments"></i> <span>Contact Us</span> <span class="badge bg-primary pull-right">5</span></a>
							</li>
							<!-- <li> 
								<a href="activities.html"><i class="la la-bell"></i> <span>Real-Time Activities</span></a>
							</li> -->        
						</ul>
					</div>
				</div>
			</div>

			<!-- This web page content starts here -->

            <div class="page-wrapper">
                <div class="content container-fluid">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-lg-3">
							<div class="dash-widget clearfix card-box">
								<span class="dash-widget-icon"><i class="bi bi-clock-fill"></i></span>
								<div class="dash-widget-info">
									<h3>
									<script>
										var timeInSeconds = {{timeline2[0][1]}};
										var timeInHours = Math.round(timeInSeconds / 3600);
										document.write(timeInHours);
									</script>
									</h3>
									<span>Screen Time<br>[hours]</span>
									<!-- <h4><strong>1120<br>hrs</strong></h4>
									<span>Time spent</span> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-3">
							<div class="dash-widget clearfix card-box">
								<span class="dash-widget-icon"><i class="bi bi-browser-chrome"></i></span>
								<div class="dash-widget-info">
									<h4>{{timeline2[0][0]}}</h4>
									<span>Sites Visited</span>
									<!-- <h4><strong>140<br>sites</strong></h4>
									<span>Sites Visited</span> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-3">
							<div class="dash-widget clearfix card-box">
								<span class="dash-widget-icon"><i class="bi bi-clipboard-heart"></i></span>
								<div class="dash-widget-info">
									{% for info in top_intrest %}
									<h4><b>{{info[0]}}</b></h4>
									<span>Genre of Interest</span>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-3">
							<div class="dash-widget clearfix card-box">
								<span class="dash-widget-icon"><i class="bi bi-clipboard-data"></i></span>
								<div class="dash-widget-info">
									<h4><strong>Tree<br>Recursive</strong></h4>
									<span>Major Interest</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6 text-center">
									<div class="card-box">
										<h3 class="card-title">TOP INTRESTS</h3>
										<div id="bar-charts"></div>
									</div>
								</div>
								<div class="col-md-6 text-center">
									<div class="card-box">
										<h3 class="card-title">WEBPAGES</h3>
										<div id="pie-charts"></div>
									</div>
								</div>
								
								<div class="col-md-6 text-center">
									<div class="card-box">
										<h3 class="card-title">Screen Time</h3>
										<div id="bar-charts2"></div>
									</div>
								</div>
								<div class="col-md-6 text-center">
									<div class="card-box">
										<h3 class="card-title">Top Intrest Genres</h3>
										<div id="barg-charts"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-table">
								<div class="panel-heading">
									<h3 class="panel-title">Events Planned</h3>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-striped custom-table m-b-0">
											<thead>
												<tr>
													<th class="text-center">Event Id</th>
													<th class="text-center">Event Name</th>
													<th class="text-center">Due Date</th>
												</tr>
											</thead>
											<tbody>
											{% set count = 1 %}
											{% for event in eventdetails %}
												<tr>
													<td>#Evnt-000{{count}}</td>
													<td>{{event[2]}}</td>
													<td>{{event[3]|strptime('%d %b %Y')}}</td>
												</tr>
												{% set count = count+1 %}
												<!-- {{count}} -->
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="panel-footer">
									<a href="/events" class="text-primary">View all Events</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-table">
								<div class="panel-heading">
									<h3 class="panel-title">Subscriptions</h3>
								</div>
								<div class="panel-body">
									<div class="table-responsive">	
										<table class="table table-striped custom-table m-b-0">
											<thead>
												<tr>
													<th class="text-center">Invoice ID</th>
													<th class="text-center">Name</th>
													<th class="text-center">Plan Type</th>
													<th class="text-center">Paid Date</th>
													<th class="text-center">Paid Amount</th>
												</tr>
											</thead>
											<tbody>
											{% for sub in plandetails %}
												<tr>
													<td>#INV-0004</td>
													<td>{{namedetails[0][0]}} {{namedetails[0][1]}}</td>
													<td>{{sub[0]}}</td>
													<td>{{sub[1]|strptime('%d %b %Y')}}</td>
													<td>{{sub[2]}}</td>
												</tr>

												<!-- <tr>
													<td>#INV-0005</td>
													<td>Tressa Wexler</td>
													<td>Paypal</td>
													<td>21 Jul 2017</td>
													<td>$500</td>
												</tr>
												<tr>
													<td>#INV-0006</td>
													<td>Ruby Bartlett</td>
													<td>Paypal</td>
													<td>28 Aug 2017</td>
													<td>$60</td>
												</tr> -->
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="panel-footer">
									<a href="/subscription" class="text-primary">View all Subscriptions</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-table">
								<div class="panel-heading">
									<h3 class="panel-title">Top 5 Most Visited Domains</h3>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-striped custom-table m-b-0">
											<thead>
												<tr>
													<th class="col-md-3 text-center">Domain Name</th>
													<th class="col-md-3 text-center">Visit Count</th>
												</tr>
											</thead>
											<tbody>
												{% for web in webdetails %}
												<tr style="height:57px">
													<td><h2><a href={{web[1]}}>{{web[4]}}</a></h2></td>
													<td>{{web[3]}}</td>
												</tr>
												<!-- <tr style="height:57px">
													<td>
														<h2><a href="project-view.html">School Guru</a></h2>
														
													</td>
													<td>
														<div class="progress progress-xs progress-striped">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="15%" style="width: 15%"></div>
														</div>
													</td>
													
												</tr>
												<tr style="height:57px">
													<td>
														<h2><a href="project-view.html">Penabook</a></h2>
														
													</td>
													<td>
														<div class="progress progress-xs progress-striped">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="49%" style="width: 49%"></div>
														</div>
													</td>
													
												</tr>
												<tr style="height:57px">
													<td>
														<h2><a href="project-view.html">Harvey Clinic</a></h2>
														
													</td>
													<td>
														<div class="progress progress-xs progress-striped">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="88%" style="width: 88%"></div>
														</div>
													</td>
													
												</tr>
												<tr style="height:57px">
													<td>
														<h2><a href="project-view.html">The Gigs</a></h2>
														
													</td>
													<td>
														<div class="progress progress-xs progress-striped">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="100%" style="width: 100%"></div>
														</div>
													</td>
													
												</tr> -->
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="panel-footer">
									<a href="/browsing_sites" class="text-primary">View all websites visted</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-table">
								<div class="panel-heading">
									<h3 class="panel-title">Top Busiest Days</h3>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-striped custom-table m-b-0">
											<thead>
												<tr>
													<th class="col-md-3 text-center">Date </th>
													<th class="col-md-3 text-center">Time Spent(hours)</th>
												</tr>
											</thead>
											<tbody>
												{% for time in timeline %}
												<tr style="height:57px">
													<td>{{time[0]}}</td>
													<td>
														<script>
															var timeInSeconds = {{time[1]}};
															var timeInHours = Math.round(timeInSeconds / 3600);
															document.write(timeInHours);
													  	</script>
													</td>
												</tr>
												<!-- <tr style="height:57px">
													<td>
														<h2><a href="project-view.html">27/02/2023</a></h2>
														<small class="block text-ellipsis">
															<span class="text-xs">20%</span> <span class="text-muted">Less </span>
														</small>
													</td>
													<td>
														<div class="progress progress-xs progress-striped">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="15%" style="width: 15%"></div>
														</div>
													</td>
													
												</tr>
												<tr style="height:57px">
													<td>
														<h2><a href="project-view.html">26/02/2023</a></h2>
														<small class="block text-ellipsis">
															<span class="text-xs">10%</span> <span class="text-muted">more </span>
															
														</small>
													</td>
													<td>
														<div class="progress progress-xs progress-striped">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="49%" style="width: 49%"></div>
														</div>
													</td>
													
												</tr>
												<tr style="height:57px">
													<td>
														<h2><a href="project-view.html">25/02/2023</a></h2>
														<small class="block text-ellipsis">
															<span class="text-xs">30%</span> <span class="text-muted">more </span>
														</small>
													</td>
													<td>
														<div class="progress progress-xs progress-striped">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="88%" style="width: 88%"></div>
														</div>
													</td>
													
												</tr>
												<tr style="height:57px">
													<td>
														<h2><a href="project-view.html">24/02/2023</a></h2>
														<small class="block text-ellipsis">
															<span class="text-xs">17%</span> <span class="text-muted">more </span>
														</small>
													</td>
													<td>
														<div class="progress progress-xs progress-striped">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="100%" style="width: 100%"></div>
														</div>
													</td>
													
												</tr> -->
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="panel-footer">
									<a href="/screen_time" class="text-primary">View all Days</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>			
			</div>
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        <!-- <script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.slimscroll.js"></script>
		<script type="text/javascript" src="assets/plugins/morris/morris.min.js"></script>
		<script type="text/javascript" src="assets/plugins/raphael/raphael-min.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
		<script type="text/javascript" src="assets/js/chart.js"></script> -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='plugins/morris/morris.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='plugins/raphael/raphael-min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
    </body>
</html>