<!DOCTYPE html>
<html>

<head>
  <title>Kidster SignUp</title>
  <link rel="stylesheet" href="assets/css/style_login.css">
</head>

<body>
  <div class="container">
    <!-- <img src="sjkL5dCd_400x400-removebg-preview.png)" alt="Logo"> -->
    <img src="assets/img/kidster_logo.png" alt="Logo" class="logo">
    <h1>Kidster</h1>
    <h6>Kids on Track</h6>
    <div class="social-login">
      <a href="#" class="google"><img src="assets/img/google-logo.png" alt="Google Logo"> Sign up with Google</a>
      <a href="#" class="apple"><img src="assets/img/apple-logo.png" alt="Apple Logo"> Sign up with Apple</a>
    </div>
    <div style="margin-bottom: 10px; font-family: 'Times New Roman';"><h2>or</h2></div>
 
  <form>
      <input type="email" placeholder="Email">
      <button type="submit">Continue</button>

      <div class="checkbox-wrapper">
        <input type="checkbox" id="rememberMe" name="rememberMe">
        <label for="rememberMe">Remember Me for 30 Days</label>
      </div>
  </form>
    <p class="create-account">Not a user? <a href="#">Create Account</a></p>
  </div>

</body>

</html>