<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_landingpage.css') }}" />
</head>
<body>
<div class="landing-page screen">
	<div class="overlap-group">
		<h1 class="title">KIDSTER</h1>
		<h1 class="kids-on-track">Kids on track</h1>
		<img class="img" src="static/img/kidster_logo.png" alt="Rectangle 10" />
	</div>
</div>

<script>
      setInterval(callBack_func, 2000);
      function callBack_func() {
      	// history.back();
        window.location.href="/login";

      }
   </script>

</body>
</html>